body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1280px;
  background-color: rgb(65, 206, 60);
}

.calculator {
  border: 10px solid rgb(17, 19, 129);
  width: 400px;
  height: 600px;
  background-color: rgb(111, 223, 130);
  border-radius: 10px;
  padding: 5px;
}


.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
  align-items: end;
  height: 20%;
  /* border: 2px solid rgb(101, 124, 101); */
  background-color: black;
  border-radius: 10px;
}

.inputs {
  display: flex;
  flex: 1;
  height: 69%;
  flex-wrap: wrap;
  background-color: rgb(111, 223, 130);
  margin-top: 5px;
  justify-content: center;
}

.inputs button {
  width: 23.8%;
}

button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 3px;
  margin-right: 3px;
}

.previousResult, .currentResult{
  margin: 0;
}

.previousResult {
  display: flex;
  align-items: end;
  height: 50%;
  padding-bottom: 3px;
  padding-right: 10px;
  font-size: 20px;
  color: rgb(101, 124, 101);
}

.currentResult {
  height: 50%;
  padding-right: 10px;
  font-size: 50px;
  color: rgb(35, 150, 35);
}

button.mainPad {
  background-color: rgb(88, 150, 96);
}

button.secondary {
  background-color: rgb(161, 161, 161);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 0;
  height: 10%;
  font-weight: bold;
  font-style: italic;
  font-family: monospace, fantasy;
  color: rgb(17, 19, 129);
}

.footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: end;
  flex: 1;
  height: 59%;
  font-size: 20px;
}

.fa.fa-github.footer {
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 1;
  margin-bottom: 10px;
  width: 60%;
}

a {
  text-decoration: none;
}


